@use "sass:math";

@import "libs/nomilize";
@import "scss/utils/utils-collection.scss";
@import "scss/utils/_mixin.scss";
@import "scss/utils/_vars.scss";
@import "scss/utils/_vars.scss";
@import "scss/utils/_fonts.scss";
@import "scss/utils/_text-styles.scss";
@import "scss/utils/slick.css";
@import "scss/utils/def-slider.scss";
@import "scss/utils/hystmodal.scss";

@import "scss/sections/_header.scss";
@import "scss/sections/_main.scss";
@import "scss/sections/_about.scss";
@import "scss/sections/_puppies.scss";
@import "scss/sections/_gallery.scss";
@import "scss/sections/_footer.scss";

body {
  overflow-y: auto;
  position: fixed;
  margin: 0;
}
button:hover,
button:focus {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  &:not(.def-link) {
    text-decoration: inherit; /* no underline */
  }
  &:hover {
    color: inherit;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.ibg {
  background-position: center;
  background-repeat: no-repeat;
  &--contain {
    background-size: contain;
  }
  &--cover {
    background-size: cover;
  }
  // &--gray{
	// 	filter: grayscale(1);
	// 	transition: all 0.5s;
	// 	&:hover{
	// 		filter: grayscale(0);
	// 	}
	// }
}
.page-content-wrapper {
  display: block;
  position: fixed;
  height: 100%;
  width: 100vw;
  left: 0;
  overflow-x: auto;
  scrollbar-width: auto;
  background-color: $background-color;
  &::-webkit-scrollbar {
    width: 15px;
    @media screen and (max-width: $phoneWidth) {
      width: 10px;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: $background-color;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555;
    border: 3px solid transparent;
    border-radius: 5px;
    background-clip: content-box;
  }
}

.section-wrapper {
  display: flex;
  width: 100%;
}
.section {
  // .section__title

  &__title {
    display: flex;
    margin-bottom: 70px;
    @media screen and (max-width: $phoneWidth) {
      margin-bottom: 50px;
    }
    &--mb35{
      margin-bottom: 35px;
      margin-top: 15px;
    }
    &--mb{
      display: none;
      @media screen and (max-width:$smTabletWidth) {
        display: flex;
        align-items: center;
      }
    }
    &--mba{
      display: flex;
      @media screen and (max-width:$smTabletWidth) {
        display: none;
      }
    }
  }

  // .section__icon

  &__icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    @media screen and (max-width:$smTabletWidth) {
      width: 30px;
      height: 30px;
      margin-right: 15px;
    }
  }

  // .section__text

  &__text {
    font-family: $secondaryTextFont;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    color: $fontColorPrimary;
  }
}

