<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#" type="image/svg+xml">
    <title>Labradorid</title>
</head>

<body>
    <!--Header Section-->
    <%- include('./html/inc/header.html') %>
    <!--Main Section-->
    <%- include('./html/inc/main.html') %>
    <!--Footer Section-->
    <%- include('./html/inc/footer.html') %>
    
</body>

</html>