<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#" type="image/svg+xml">
    <link rel="icon" href="img/icons/logo.png" type="image/png">
    <title>Labradorid</title>
</head>

<body>
    <div class="page-content-wrapper">
        
            <!--Header Section-->
        <%- include('./html/inc/header.html') %>
            <!--Main Section-->
        <%- include('./html/inc/main.html') %>
            <!--About Section-->
        <%- include('./html/inc/about.html') %>
            <!--Puppies Section-->
        <%- include('./html/inc/puppies.html') %>
            <!--Gallery Section-->
        <%- include('./html/inc/gallery.html') %>
            <!--Footer Section-->
         <%- include('./html/inc/footer.html') %>
    </div>
</body>

</html>